In [46]:
import numpy as np
import pandas as pd

In [69]:
a_df = pd.read_csv("data_set/TxAntennaDAB.csv")
p_df = pd.read_csv("data_set/TxParamsDAB.csv", encoding='latin-1')

In [48]:
intersection = np.intersect1d(a_df.columns, p_df.columns)
p_int = p_df[intersection]
a_int = a_df[intersection]
comb = pd.concat([p_int, a_int], axis=1)

mask = ~(p_int == a_int).all(axis=1)
different_rows = p_int[mask]
assert (len(different_rows) == 0)  # validation

m_df = pd.merge(a_df, p_df, left_index=True, right_index=True, suffixes=('_dab', '_params'))
m_df = m_df.drop('id_params', axis=1)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1214 entries, 0 to 1213
Columns: 182 entries, id_antenna to Data SId 15 (Hex)
dtypes: float64(85), int64(3), object(94)
memory usage: 1.7+ MB

In [49]:
m_c = m_df.columns
m_c

Index(['id_antenna', 'NGR', 'Longitude/Latitude', 'Site Height',
       'In-Use Ae Ht', 'In-Use ERP Total', 'Dir Max ERP', '0', '10', '20',
       ...
       'Data Serv Label11', 'Data SId 11 (Hex)', 'Data Serv Label12',
       'Data SId 12 (Hex)', 'Data Serv Label13', 'Data SId 13 (Hex)',
       'Data Serv Label14', 'Data SId 14 (Hex)', 'Data Serv Label15',
       'Data SId 15 (Hex)'],
      dtype='object', length=182)

In [68]:
nan_columns = m_df.columns[m_df.isna().all()]
m_df_cleaned = m_df.dropna(axis=1, how='all')
len(m_df_cleaned.columns)
for i in m_df_cleaned.columns:
    print(i)

len(m_df.columns)

id_antenna
NGR
Longitude/Latitude
Site Height
In-Use Ae Ht
In-Use ERP Total
Dir Max ERP
0
10
20
30
40
50
60
70
80
90
100
110
120
130
140
150
160
170
180
190
200
210
220
230
240
250
260
270
280
290
300
310
320
330
340
350
Lat
Long
Date
Ensemble
Licence
Ensemble Area
EID
Transmitter Area
Site
Freq.
Block
TII Main Id (Hex)
TII Sub Id (Hex)
Serv Label1
SId 1 (Hex)
LSN 1 (Hex)
Serv Label2
SId 2 (Hex)
LSN 2 (Hex)
Serv Label3
SId 3 (Hex)
LSN 3 (Hex)
Serv Label4
SId 4 (Hex)
LSN 4 (Hex)
Serv Label5
SId 5 (Hex)
LSN 5 (Hex)
Serv Label6
SId 6 (Hex)
LSN 6 (Hex)
Serv Label7
SId 7 (Hex)
LSN 7 (Hex)
Serv Label8
SId 8 (Hex)
LSN 8 (Hex)
Serv Label9
SId 9 (Hex)
LSN 9 (Hex)
Serv Label10
SId 10 (Hex)
LSN 10 (Hex)
Serv Label11
SId 11 (Hex)
LSN 11 (Hex)
Serv Label12
SId 12 (Hex)
LSN 12 (Hex)
Serv Label13
SId 13 (Hex)
LSN 13 (Hex)
Serv Label14
SId 14 (Hex)
LSN 14 (Hex)
Serv Label15
SId 15 (Hex)
LSN 15 (Hex)
Serv Label16
SId 16 (Hex)
LSN 16 (Hex)
Serv Label17
SId 17 (Hex)
Serv Label18
SId 18 (Hex)
LSN 18 (Hex)
Serv Label19
SId 19 (Hex)
LSN 19 (Hex)
Serv Label20
SId 20 (Hex)
LSN 20 (Hex)
Serv Label21
SId 21 (Hex)
Serv Label22
SId 22 (Hex)
Serv Label23
SId 23 (Hex)
Serv Label24
SId 24 (Hex)
Serv Label25
SId 25 (Hex)
Serv Label26
SId 26 (Hex)
Serv Label27
SId 27 (Hex)
Serv Label28
SId 28 (Hex)
Serv Label29
SId 29 (Hex)
Data Serv Label1
Data SId 1 (Hex)
Data Serv Label2
Data SId 2 (Hex)

182

In [ ]:
req_columns = ["id_dab", "NGR", "EID", "Site", "Site Height", "In-Use Ae Ht", "In-Use ERP Total", "Date", "Freq.",
               "Block", "Serv Label1", "Serv Label2", "Serv Label3", "Serv label4", "Serv Label10"]

In [51]:
m_df_cleaned

,id_antenna,NGR,Longitude/Latitude,Site Height,In-Use Ae Ht,In-Use ERP Total,Dir Max ERP,0,10,20,...,Serv Label27,SId 27 (Hex),Serv Label28,SId 28 (Hex),Serv Label29,SId 29 (Hex),Data Serv Label1,Data SId 1 (Hex),Data Serv Label2,Data SId 2 (Hex)
0,745392,NO76418994,002W23 24 57N00 00,325,230,"2.000,000",43.0,1.1,1.7,2.4,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,745393,NJ76043299,002W24 01 57N23 12,245,138,"8.510,009",140.0,0.1,0.5,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,745394,NJ98315700,002W01 48 57N36 11,225,35,"1.000,000",55.0,0.1,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,745395,NJ94270253,002W05 46 57N06 49,87,41,"1.199,999",355.0,0.2,0.5,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,745396,NS29181617,004W41 59 55N24 35,273,34,"4.000,000",70.0,0.4,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,EPG Ayr,E1C000CF,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1209,746601,SJ669343,002W29 37 52N54 18,100,24,"0.554,794",65.0,1.7,5.7,1.6,...,NaN,NaN,NaN,NaN,NaN,NaN,EPG Wolv & Shrop,E1C000CE,NaN,NaN
1210,746602,SJ26613178,003W05 31 52N52 42,305,27,"0.640,000",100.0,3.8,3.0,2.0,...,NaN,NaN,NaN,NaN,NaN,NaN,EPG Wolv & Shrop,E1C000CE,NaN,NaN
1211,746603,SO92279444,002W06 56 52N32 52,225,32,"0.600,000",180.0,1.6,1.8,2.0,...,NaN,NaN,NaN,NaN,NaN,NaN,EPG Wolv & Shrop,E1C000CE,NaN,NaN
1212,746604,SJ62890828,002W33 01 52N40 15,396,48,"1.954,474",NaN,3.7,5.5,4.3,...,NaN,NaN,NaN,NaN,NaN,NaN,EPG Wolv & Shrop,E1C000CE,NaN,NaN
1213,746605,SO96818872,002W02 54 52N29 47,267,40,"4.000,000",300.0,1.0,1.7,2.5,...,NaN,NaN,NaN,NaN,NaN,NaN,EPG Wolv & Shrop,E1C000CE,NaN,NaN

In [52]:
lat_long_df = m_df[['id_antenna', 'Longitude/Latitude', "Lat", "Long"]]
lat_long_df

      id_antenna  Longitude/Latitude        Lat      Long
0         745392  002W23 24 57N00 00  56.999987 -2.389944
1         745393  002W24 01 57N23 12  57.386674 -2.400197
2         745394  002W01 48 57N36 11  57.602976 -2.029937
3         745395  002W05 46 57N06 49  57.113656 -2.096244
4         745396  004W41 59 55N24 35  55.409586 -4.699754
...          ...                 ...        ...       ...
1209      746601  002W29 37 52N54 18  52.905093 -2.493571
1210      746602  003W05 31 52N52 42  52.878444 -3.091941
1211      746603  002W06 56 52N32 52  52.547739 -2.115424
1212      746604  002W33 01 52N40 15  52.670935 -2.550228
1213      746605  002W02 54 52N29 47  52.496364 -2.048417

[1214 rows x 4 columns]

In [53]:
# Validate latitude and longitude
valid_lat = lat_long_df['Lat'].between(-90, 90, inclusive='both')  # True for valid latitudes
valid_lon = lat_long_df['Long'].between(-180, 180, inclusive='both')  # True for valid longitudes

# Combine the conditions
valid_coordinates = valid_lat & valid_lon
assert (valid_coordinates.all())  # validation

In [54]:
def _to_decimal(degrees, minutes, seconds, direction):
    decimal = degrees + minutes / 60 + seconds / 3600
    if direction in ('S', 'W'):  # South or West should be negative
        decimal = -decimal
    return decimal


def dms_to_decimal(dms_string):
    parts = dms_string.split(" ")
    lon_dms, lat_dms = parts[:2], parts[2:]

    lon_deg = int(lon_dms[0][:3])
    lon_dir = lon_dms[0][3]
    lon_min = int(lon_dms[0][4:])
    lon_sec = int(lon_dms[1])

    lat_deg = int(lat_dms[0][:2])
    lat_dir = lat_dms[0][2]
    lat_min = int(lat_dms[0][3:])
    lat_sec = int(lat_dms[1])

    return _to_decimal(lon_deg, lon_min, lon_sec, lon_dir), _to_decimal(lat_deg, lat_min, lat_sec, lat_dir)

In [55]:
def decimal_to_dms(decimal, is_latitude=True):
    """
    Convert decimal degrees to DMS (Degrees, Minutes, Seconds).
    
    Args:
        decimal (float): The latitude or longitude in decimal degrees.
        is_latitude (bool): True if the input is latitude, False for longitude.
        
    Returns:
        str: DMS representation of the coordinate.
    """
    # Determine if the coordinate is in the northern/eastern hemisphere
    direction = ''
    fill_v = 2
    if is_latitude:
        direction = 'N' if decimal >= 0 else 'S'
    else:
        direction = 'E' if decimal >= 0 else 'W'
        fill_v = 3

    # Get absolute value for calculation
    decimal = abs(decimal)

    # Extract degrees, minutes, and seconds
    degrees = int(decimal)
    minutes = int((decimal - degrees) * 60)
    seconds = round((decimal - degrees - minutes / 60) * 3600, 2)

    # Format as DMS string
    return f"{str(degrees).zfill(fill_v)}{direction}{int(minutes)} {int(seconds)}"

In [56]:
columns = ["Long_2", "Lat_2"]
lat_long_df.loc[:, columns] = pd.DataFrame(
    lat_long_df['Longitude/Latitude'].apply(lambda row: dms_to_decimal(row)).to_list(),
    index=lat_long_df.index,
    columns=columns
)

lat_long_df

      id_antenna  Longitude/Latitude        Lat      Long    Long_2      Lat_2
0         745392  002W23 24 57N00 00  56.999987 -2.389944 -2.390000  57.000000
1         745393  002W24 01 57N23 12  57.386674 -2.400197 -2.400278  57.386667
2         745394  002W01 48 57N36 11  57.602976 -2.029937 -2.030000  57.603056
3         745395  002W05 46 57N06 49  57.113656 -2.096244 -2.096111  57.113611
4         745396  004W41 59 55N24 35  55.409586 -4.699754 -4.699722  55.409722
...          ...                 ...        ...       ...       ...        ...
1209      746601  002W29 37 52N54 18  52.905093 -2.493571 -2.493611  52.905000
1210      746602  003W05 31 52N52 42  52.878444 -3.091941 -3.091944  52.878333
1211      746603  002W06 56 52N32 52  52.547739 -2.115424 -2.115556  52.547778
1212      746604  002W33 01 52N40 15  52.670935 -2.550228 -2.550278  52.670833
1213      746605  002W02 54 52N29 47  52.496364 -2.048417 -2.048333  52.496389

[1214 rows x 6 columns]

In [57]:
import math


def haversine(lat1, lon1, lat2, lon2):
    R = 6371000

    # Convert latitude and longitude from degrees to radians
    lat1, lon1, lat2, lon2 = map(math.radians, [lat1, lon1, lat2, lon2])

    # Differences in coordinates
    dlat = lat2 - lat1
    dlon = lon2 - lon1

    # Haversine formula
    a = math.sin(dlat / 2) ** 2 + math.cos(lat1) * math.cos(lat2) * math.sin(dlon / 2) ** 2
    c = 2 * math.atan2(math.sqrt(a), math.sqrt(1 - a))

    # Distance in meters
    distance = R * c
    return distance

In [58]:
columns = ["dist"]
lat_long_df.loc[:, columns] = lat_long_df.apply(
    lambda row: haversine(row['Lat'], row['Long'], row['Lat_2'], row['Long_2']),
    axis=1
)
lat_long_df

,id_antenna,Longitude/Latitude,Lat,Long,Long_2,Lat_2,dist
0,745392,002W23 24 57N00 00,56.999987,-2.389944,-2.390000,57.000000,3.686640
1,745393,002W24 01 57N23 12,57.386674,-2.400197,-2.400278,57.386667,4.909238
2,745394,002W01 48 57N36 11,57.602976,-2.029937,-2.030000,57.603056,9.609480
3,745395,002W05 46 57N06 49,57.113656,-2.096244,-2.096111,57.113611,9.449213
4,745396,004W41 59 55N24 35,55.409586,-4.699754,-4.699722,55.409722,15.279474
...,...,...,...,...,...,...,...
1209,746601,002W29 37 52N54 18,52.905093,-2.493571,-2.493611,52.905000,10.685293
1210,746602,003W05 31 52N52 42,52.878444,-3.091941,-3.091944,52.878333,12.307743
1211,746603,002W06 56 52N32 52,52.547739,-2.115424,-2.115556,52.547778,9.885438
1212,746604,002W33 01 52N40 15,52.670935,-2.550228,-2.550278,52.670833,11.792555
1213,746605,002W02 54 52N29 47,52.496364,-2.048417,-2.048333,52.496389,6.303937

In [59]:
miss_match_pos = lat_long_df[lat_long_df['dist'] > 20]
miss_match_pos

Empty DataFrame
Columns: [id_antenna, Longitude/Latitude, Lat, Long, Long_2, Lat_2, dist]
Index: []

In [60]:
# since the distance between the distances is less than 20 meters, we can assume the two datas match and one set can be deleted
m_df_cleaned = m_df_cleaned.drop(columns=['Longitude/Latitude'])
m_df_cleaned

,id_antenna,NGR,Site Height,In-Use Ae Ht,In-Use ERP Total,Dir Max ERP,0,10,20,30,...,Serv Label27,SId 27 (Hex),Serv Label28,SId 28 (Hex),Serv Label29,SId 29 (Hex),Data Serv Label1,Data SId 1 (Hex),Data Serv Label2,Data SId 2 (Hex)
0,745392,NO76418994,325,230,"2.000,000",43.0,1.1,1.7,2.4,1.9,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,745393,NJ76043299,245,138,"8.510,009",140.0,0.1,0.5,1.0,1.6,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,745394,NJ98315700,225,35,"1.000,000",55.0,0.1,0.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,745395,NJ94270253,87,41,"1.199,999",355.0,0.2,0.5,1.0,1.6,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,745396,NS29181617,273,34,"4.000,000",70.0,0.4,0.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,EPG Ayr,E1C000CF,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1209,746601,SJ669343,100,24,"0.554,794",65.0,1.7,5.7,1.6,0.9,...,NaN,NaN,NaN,NaN,NaN,NaN,EPG Wolv & Shrop,E1C000CE,NaN,NaN
1210,746602,SJ26613178,305,27,"0.640,000",100.0,3.8,3.0,2.0,1.2,...,NaN,NaN,NaN,NaN,NaN,NaN,EPG Wolv & Shrop,E1C000CE,NaN,NaN
1211,746603,SO92279444,225,32,"0.600,000",180.0,1.6,1.8,2.0,2.7,...,NaN,NaN,NaN,NaN,NaN,NaN,EPG Wolv & Shrop,E1C000CE,NaN,NaN
1212,746604,SJ62890828,396,48,"1.954,474",NaN,3.7,5.5,4.3,4.9,...,NaN,NaN,NaN,NaN,NaN,NaN,EPG Wolv & Shrop,E1C000CE,NaN,NaN
1213,746605,SO96818872,267,40,"4.000,000",300.0,1.0,1.7,2.5,3.6,...,NaN,NaN,NaN,NaN,NaN,NaN,EPG Wolv & Shrop,E1C000CE,NaN,NaN

In [67]:
# 1. Outputs should not include any data from DAB radio stations that have the following ‘NGR’: NZ02553847, SE213515, NT05399374 and NT252675908
exclude_ngr = ["NZ02553847", "SE213515", "NT05399374", "NT252675908"]
exclu_ls = m_df_cleaned[~m_df_cleaned['NGR'].isin(exclude_ngr)]
exclu_ls

,id_antenna,NGR,Site Height,In-Use Ae Ht,In-Use ERP Total,Dir Max ERP,0,10,20,30,...,Serv Label27,SId 27 (Hex),Serv Label28,SId 28 (Hex),Serv Label29,SId 29 (Hex),Data Serv Label1,Data SId 1 (Hex),Data Serv Label2,Data SId 2 (Hex)
0,745392,NO76418994,325,230,"2.000,000",43.0,1.1,1.7,2.4,1.9,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,745393,NJ76043299,245,138,"8.510,009",140.0,0.1,0.5,1.0,1.6,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,745394,NJ98315700,225,35,"1.000,000",55.0,0.1,0.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,745395,NJ94270253,87,41,"1.199,999",355.0,0.2,0.5,1.0,1.6,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,745396,NS29181617,273,34,"4.000,000",70.0,0.4,0.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,EPG Ayr,E1C000CF,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1209,746601,SJ669343,100,24,"0.554,794",65.0,1.7,5.7,1.6,0.9,...,NaN,NaN,NaN,NaN,NaN,NaN,EPG Wolv & Shrop,E1C000CE,NaN,NaN
1210,746602,SJ26613178,305,27,"0.640,000",100.0,3.8,3.0,2.0,1.2,...,NaN,NaN,NaN,NaN,NaN,NaN,EPG Wolv & Shrop,E1C000CE,NaN,NaN
1211,746603,SO92279444,225,32,"0.600,000",180.0,1.6,1.8,2.0,2.7,...,NaN,NaN,NaN,NaN,NaN,NaN,EPG Wolv & Shrop,E1C000CE,NaN,NaN
1212,746604,SJ62890828,396,48,"1.954,474",NaN,3.7,5.5,4.3,4.9,...,NaN,NaN,NaN,NaN,NaN,NaN,EPG Wolv & Shrop,E1C000CE,NaN,NaN
1213,746605,SO96818872,267,40,"4.000,000",300.0,1.0,1.7,2.5,3.6,...,NaN,NaN,NaN,NaN,NaN,NaN,EPG Wolv & Shrop,E1C000CE,NaN,NaN